@import "tailwindcss";

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-league-spartan);
}

.font-league-spartan {
	font-family: var(--font-league-spartan);
}

body {
	font-family: var(--font-montserrat);
}

.font-heading-light {
	font-family: var(--font-league-spartan);
	font-weight: 300;
}

.font-heading-regular {
	font-family: var(--font-league-spartan);
	font-weight: 400;
}

.font-heading-medium {
	font-family: var(--font-league-spartan);
	font-weight: 500;
}

.font-heading-bold {
	font-family: var(--font-league-spartan);
	font-weight: 700;
}

.navbar-submenu-item {
	font-family: var(--font-league-spartan);
	font-size: 28px;
	line-height: 1.2;
	margin-bottom: 16px;
	transition: all 0.2s ease;
}

.navbar-submenu-item:hover {
	transform: translateX(6px);
}
